/* criar variaveis */
:root{
--cor-principal:white;
}

body{
    margin: 20px;
    background:rgb(158, 158, 158) ;
    color: white;
}

.profile-image img {
    width: 300px;
    border-radius: 50%;
    border: 3px solid var(--cor-principal);
    
}

.container {
    text-align: center;

}

.content {
    color: white;
    width: 800px;
    margin: 0 auto;


}

ul{
    text-align: center;
    list-style: none;
}

ul li {
    padding: 2px 0;
}

a{
    text-align: center;
    color: black;
}
ion-icon{
    color:black;
}
.links{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 5px;
}